<img src="{{ product.featured_image | image_url }}" height="300px" width="300px">
<h1>{{ product.title }}</h1>
<h1>{{ product.price | money }}</h1>
<p>{{ product.description }}</p>

{% form 'product', product %}
  <select class="border-0 border-b-amber-600" name="id">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}">{{ variant.title }}</option>
    {% endfor %}
  </select>

  <button class="cursor-pointer border-2 border-b-black px-3 py-2 rounded-xl" type="submit">Add to cart</button>
{% endform %}
